
<div>
<%=form_with model: @student,method: :post do |f|%>
<div>
<%= f.label :FirstName%>
<%= f.text_field :firstName%>
</div>
<div>
<%= f.label :LastLame %>
<%= f.text_field :lastName%>
</div>
<div>
<%= f.label :DateofBirth %>
<%= f.datetime_field :dob%>
</div>
<div>
<%= f.submit%></div>
<%end%>
<div>