<%= form_tag fillmarks_path do %>
<div class="field">
  <%= label_tag :subject_code %><br />
  <%= text_field_tag :subject_code, params[:subject_code] %>
</div>
<div class="field">
  <%= label_tag :sequence %><br />
  <%= text_field_tag :sequence,params[:sequence] %>
</div>
<div class="actions"><%= submit_tag "submit" %></div>
<% end %>

<% if  @student_marks%>
  <%= form_tag results_with_no_marks_path, method: :put do %>
<p><%@student_marks.each do |std| %></p>
<span><%=std.student.firstName%></span>
<span><%=std.student.lastName%></span>

 <span><%= label_tag :"grade" %></span>
 <%= number_field_tag :"#{std.id}" %>

<% end %>
 <div class="actions"><%= submit_tag "submit" %></div>
<% end %>

<% end %>

