<div>
  <%=form_with model: @subject do |f|%>
  <div>
  <%= f.label :subjectName%>
  <%= f.text_field :subjectName%>
  </div>
  <div>
  <%= f.label :coefficient %>
  <%= f.text_field :coefficient %>
  </div>
  <div>
    <%= f.label :taugth_by %>
  </div>
  <div>
    <%= collection_select(:subject, :teacher_id, Teacher.all, :id, :firstName )%>
    </div>
    <div>
      <%= f.label :class_name %>
    </div>
    <div>
      <%= collection_select(:subject, :enrollment_id, Enrollment.all, :id, :className,{:prompt =>true} )%>
      </div>
  <div>
  <%= f.submit %></div>
  <%end%>
  <div>